body{
	height: 100%;
	position: relative;

}

.container{
	width: 100%;
	min-height: 100%;
}

header{
	width: 100%;
	/*background:  #a6b7d3 url(mosaicheader.png) 10% 100% no-repeat;*/
	background: #333;
	height: 10%;
	border: 3px solid #FFFFFF;
}
.title{
	font-size: 36px;
	padding-top:12px;
	/*text-align: center;*/
    margin-left: 100px;
	color: #FFFFFF;  
}

.login{
	font-size: 16px;
	position: absolute;
	top: 22px;
	right: 10%;
	color: #000000;
	font-family: "Arial"; 
}

/* Базовые стили слоя затемнения и модального окна  */
.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
/* фон затемнения */
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed; /* фиксированное поцизионирование */
    cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
    display: block;
}
/* стили модального окна */
.popup {
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 14px;
    z-index: 10;
    width: 200px;
    height: 200px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #f1f1f1;
}
/* активируем модальный блок */
.overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    top: 20%;
}
/* формируем кнопку закрытия */
.close {
    top:  0px;
    right: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;

}
.close:before {
    color: black;
    content: "X";
    font-size: 12px;
}
.close:hover {
    background-color: red;
}

.submit{
	background-color: #FFFFFF;
	color:black;
	border: 2px solid #333;
}
.submit:hover{
	background-color: #333;
	color: #FFFFFF;

}


.logo{
	position: absolute;
	width: 60px;
	height: 60px;
	background: url(gs-logotip.png) center center no-repeat;
	top:4px;
	left: 2%;
	float: left;

}



ul{
	list-style-type: none;
	margin: 0;
	padding:0;
	overflow: hidden;
	background-color: #333;
}

li{
	float: left;
}

li a, .cath{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .cathegory:hover .cath{
	background-color: red;
}

li.cathegory{
	display: inline-block;

}

.cathegory-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10;
}

.cathegory-content a{
	color:black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.cathegory-content a:hover{
	background-color: #f1f1f1;
}

.cathegory:hover .cathegory-content{
	display: block;
}

/* Slideshow container */
.slideshow-container {
 max-width: 724px;
  position: relative;
  margin: auto;


}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /*transition: background-color 0.6s ease;
  z-index: 5;*/
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



#slideblock{
	background:#f1f1f1;
	width:100%;
	height:400px;
	border-bottom: 2px solid black;

}



h1{
	color: red;
}

#bottomblock{
	width: 100%;
	/*padding-bottom: 50px;*/
}

#videoblock{
	float: left;
}

#categoryBlock{
	/*height: 310px;*/
	width: 700px;
	border: 2px solid black;
	float: left;
	padding: 15px;
	
}

#imgcategory{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	float: left;
	margin: 2px;

	padding: 10px;
}



#newsblock{
	background:#f1f1f1;
	width:100%;
	height:400px;
}


#footer{

	width: 100%;
	height: 50px;
	background: #333;;
	font-size: 14pt;
	text-align: center;
	margin-top: -50px;

}

.foottext{
	color: #FFFFFF;
	padding-top: 4px;
}
